<section>
  <hgroup>
    <h1><a href="/accounts/<%= @account.id %>"><%= @account.name %></a></h1>
  </hgroup>
  <img src="" />
  <nav>
    <ul>
      <li>
        <a hx-get="/accounts/<%= @account.id %>/events"
           hx-push-url="true"
           hx-target="#resources-slot">
           Events
        </a>
      </li>
      <li>
        <a hx-get="/accounts/<%= @account.id %>/videos"
           hx-push-url="true"
           hx-target="#resources-slot">
           Videos
        </a>
      </li>
      <li>
        <a hx-get="/accounts/<%= @account.id %>/lyrics"
           hx-push-url="true"
           hx-target="#resources-slot">
           Lyrics
        </a>
      </li>
      <li>
        <a hx-get="/accounts/<%= @account.id %>/pages"
           hx-push-url="true"
           hx-target="#resources-slot">
           Pages
        </a>
      </li>
    </ul>
  </nav>
</section>

<section id="resources-slot">
<section>
