<form method="post">
  <fieldset class="grid">
    <label>
      Date
      <input name="event[date]" value="<%= @event.date %>"/>
    </label>
    <label>
      Hour
      <input name="event[hour]" value="<%= @event.hour %>"/>
    </label>
  </fieldset>
  <fieldset>
    <label>
      Venue
      <input name="event[venue]" value="<%= @event.venue %>"/>
    </label>
    <label>
      Place
      <input name="event[place]" value="<%= @event.place %>"/>
    </label>
    <label>
      Address
      <input name="event[address]" value="<%= @event.address %>"/>
    </label>
  </fieldset>
  <% if @event.id %>
    <button hx-put="/accounts/<%= @account.id %>/events/<%= @event.id %>" hx-target="#resources-slot">Save event</button>
  <% else %>
    <button hx-post="/accounts/<%= @account.id %>/events" hx-target="#resources-slot">Create event</button>
  <% end %>
  <button hx-get="/accounts/<%= @account.id %>/events" hx-target="#resources-slot">Cancel</button>
</form>
