<section>
  <% if @events.empty? %>
    <p>No events yet</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Hour</th>
          <th>Venue</th>
          <th>Place</th>
          <th>Address</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.date %></td>
          <td><%= event.hour %></td>
          <td><%= event.venue %></td>
          <td><%= event.place %></td>
          <td><%= event.address %></td>
          <td><button hx-get="/accounts/<%= @account.id %>/events/<%= event.id %>/edit" hx-target="#event-form">Edit</button></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</section>

<article id="event-form">
  <button hx-get="/accounts/<%= @account.id %>/events/new" hx-target="#event-form">Add event</button>
</article>
